{
    # Global options
    storage file_system {
        root /usr/local/etc/caddy
    }

    # Global logging
    log {
        output file /var/log/caddy/caddy.log {
            roll_size 100MiB          # Max size 100 MB
            roll_keep 5               # Keep last 5 log files
            roll_keep_for 720h        # Keep logs for 30 days
        }
    }
}

{% if helpers.exists('Pischem.caddy.reverseproxy.reverse') %}
{% for item in helpers.toList('Pischem.caddy.reverseproxy.reverse') %}
{% set reverse = item %}
{% if reverse.Enabled|default("0") == "1" %}
# Reverse proxy entry "{{ reverse.Description|default("") }}":
{{ reverse.FromDomain|default("") }}{% if reverse.FromPort|default("") %}:{{ reverse.FromPort }}{% endif %} {
    reverse_proxy {{ reverse.ToDomain|default("") }}:{{ reverse.ToPort|default("") }}
}
{% endif %}
{% endfor %}
{% endif %}

